[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=/usr/bin/mkdir -p /opt/kubernetes
ExecStartPre=/usr/bin/cp /install/kubernetes/kube-proxy /opt/kubernetes/
ExecStartPre=/usr/bin/chmod +x /opt/kubernetes/kube-proxy
ExecStart=/opt/kubernetes/kube-proxy \
--master=http://kube-api-server.local:8080\
--logtostderr=true
Restart=always
RestartSec=10

[X-Fleet]
Global=true
MachineMetadata=role=worker
MachineMetadata=role=frontend